/**
* Description: 分组管理独立样式
* Version: 2.0.0
* Author: JIALIN,GUO
* Date:2017/10/17
* Copyright: (c) Copyright 2017 G. All Rights Reserved.
**/

@CHARSET "UTF-8";
.mask_juhua_content {
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.6;
      z-index: 9999;
}

/*模态框*/
.addModifyModal .form-control {width: 325px !important;}

