<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kangrise.xunjian.admin.sm.mapper.RoleMapper">
	<resultMap id="BaseResultMap" type="com.kangrise.xunjian.admin.sm.entity.Role">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="rolename" property="rolename" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CREATOR_ID" property="creatorId" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, rolename, CREATE_TIME, CREATOR_ID
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_role
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_role
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.kangrise.xunjian.admin.sm.entity.Role">
		insert into t_role (id,
		rolename, CREATE_TIME, CREATOR_ID)
		values (#{id,jdbcType=BIGINT},
		#{rolename,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{creatorId,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective" parameterType="com.kangrise.xunjian.admin.sm.entity.Role">
		insert into t_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="rolename != null">
				rolename,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="creatorId != null">
				CREATOR_ID,
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId != null">
				#{creatorId,jdbcType=BIGINT},
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="rolename != null">
				#{rolename,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.kangrise.xunjian.admin.sm.entity.Role">
		update t_role
		<set>
			<if test="rolename != null">
				rolename = #{rolename,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.kangrise.xunjian.admin.sm.entity.Role">
		update t_role
		set
		rolename = #{rolename,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=BIGINT}
	</update>
	<select id="listRole" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_role
	</select>
</mapper>