body
{
	width:100%;
	height:100%;
}
.header_title p {
    padding-left: 42px;
    padding-top: 12px;
    color:#000;
    font-size:16px;
}
.nav-pills>li+li {
     margin-left: 0px; 
}
.horizon_split_left {
	margin-left:0px;
    width: 120px;
    height: 4px;
    background-color: #00a279;
}
.content-head
{
	width:97%;
	height:160px;
}
.content-head-p
{
	height:80px;text-align:center;vertical-align: middle;padding-top: 12px;
}
.cotent-head-conten
{
	width:100%;
	margin:20px;
	height:140px;
}
.cotent-head-conten ul
{
	width:100%;
	padding:0;
	height:140px;
}
.cotent-head-conten ul li
{
	width:18%;
	height:140px;
	margin-right:2%;
	border:1px solid #ccc;
	float:left;
	list-style: none;
}
.cotent-head-conten ul :hover
{
	background: rgb(0, 209, 165);
}
.sys_content
{
	overflow-x:hidden;
	overflow-y:auto;
	width:100%;
	height:642px;
}
.body-content
{
	width:100%;
	height:auto;
}
.body-content ul
{
	width:100%;padding:1%;
	height:360px;
}
.body-content ul li
{
	width:31%;
	list-style:none;
	margin-left:2%;
	margin-top:2%;
	height:100%;
	float:left;
	border:1px solid #ccc;
}

.body-content ul li div:first-of-type{width:100%; height:35%;} 
.body-content ul li #sbzbfx-container{width:100%; height:65%;} 
.body-content ul li div:first-of-type div:first-of-type{color:green; border-bottom:1px solid #BBB; width:100%; text-indent:2em;; line-height: 36px;} 
.body-content ul li div:first-of-type div:nth-of-type(2){width:100%;height: 50%; line-height: 30px;} 
.body-content ul li div:first-of-type div:nth-of-type(2) img{vertical-align: sub; margin-left: 0.5em;} 
.body-content ul li div:first-of-type div:nth-of-type(2) span{font-size: 0.5em;}=======
}
.content-head-p
{
	height:80px;text-align:center;vertical-align: middle;padding-top: 12px;
}
.content-span
{
	font-size: 32px;font-weight: bold;
}
